@import 'variables';

.divider {
  background-color: $green;
  color: $white;
  font-family: sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}
